html {
    height: 100%;
}


body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.container{
    width: 100%;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

}

.row h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.col {
    width: 100%;
    max-width: 1500px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.card {
    width: 80%;
    max-width: 500px;
    min-width: 250px;
    border-radius: 10px;
    min-height: 400px;
}

.profile-sidebar,
.profile-social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 20px;
}

.profile-sidebar img,
.profile-social img{
    width: 125px;
    height: auto;
    border-radius: 50%;
    
}

.profile-name,
.social-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 20px;
}

.social-name a{
    text-decoration: underline
}

.profile-position{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.profile-body,
.social-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    font-size: large;
}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

footer p{
    margin: 5px;
}


/* colors */

body {
    background-color: #031927;
}

footer {
    background-color: #DECDF5;
}

h2, p, a {
    color: #031927;
}

h1 {
    color: #DECDF5;
}

.card {
    background-color: #247BA0;
}

.card:hover {
    background-color: #1B98E0;
}

footer a:hover{
    color: #FF220C;
}
.card h2:hover,
.card p:hover,
.card a:hover{
    color: #DECDF5;
}

/* transitions */

.card:hover {
    transform:scale(1.05);
}

h2, p, a, .card {
    transition: 250ms;;
}